body {
    font-family: "Outfit" !important;
    background-color: #F6F5F2;
    color: #789DBC;
    font-size: 17px;
}

.nav-link{
    color: #789DBC !important;
}

span{
    color: #51829B !important;
}

.lumi{
    color: #BC7C7C !important;
}

.border-bottom, .border-top{
    border-color: #51829B !important;
}

#home .bg-body-tertiary{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )), url(/1.png) !important;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#about {
    font-size: 19px;
}

#important h3{
    color: #DF6A6A;
}
#important{
    font-size: 19px;
}

#word-meaning{
    font-size: 19px;
}

img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px #BBBBBB;
}

.random-photo{
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about.text {
    flex: 1;
}

.about.img {
    flex: 0 0 auto;
}

.about img {
    max-width: 450px;
    height: auto;
}

.btn {
    background-color: #51829B;
    color: #F6F5F2;
    border-color: #51829B;
    border-radius: 7px;
}
.btn:hover{
    background-color: #F6F5F2;
    color: #51829B;
    border-color: #51829B;
}
a.btn:active,
a.btn:focus,
button:active,
button:focus {
    background-color: #F6F5F2;
    color: #51829B;
    border-color: #51829B;
    outline: none;
}

.forum-container {
    width: 80%;
    margin: 0 auto;
    background-color: #F6F5F2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form-group {
    margin: 10px 0;
}
input[type="number"], textarea{
    border-color: #51829B !important;
    border-radius: 7px !important;
}
input:focus, input:hover, 
textarea:focus, textarea:hover{
    border-color: #51829B !important;
    outline: none !important;
    box-shadow: 0 0 10px #BBBBBB;
}
textarea {
    resize: none;
}

@media(max-width: 576px) {
    #about{
        margin-left: 30px;
        margin-right: 30px;
    }
    #important{
        margin-left: 30px;
        margin-right: 30px;
    }
    #word-meaning{
        margin-left: 30px;
        margin-right: 30px;
    }
    .random-photo{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 576px) and (max-width: 1024px){
    #about{
        margin-left: 20px;
        margin-right: 20px;
    }
    #important{
        margin-left: 20px;
        margin-right: 20px;
    }
    #word-meaning{
        margin-left: 20px;
        margin-right: 20px;
    }
    .random-photo{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px){
    #about{
        margin-left: 35px;
        margin-right: 35px;
    }
    #important{
        margin-left: 35px;
        margin-right: 35px;
    }
    #word-meaning{
        margin-left: 35px;
        margin-right: 35px;
    }
    .random-photo{
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (min-width: 1200px){
    #about{
        margin-left: 120px;
        margin-right: 120px;
    }
    #important{
        margin-left: 120px;
        margin-right: 120px;
    }
    #word-meaning{
        margin-left: 120px;
        margin-right: 120px;
    }
    .random-photo{
        margin-left: 120px;
        margin-right: 120px;
    }
}
